{{define "ap/index"}}
    {{template "template/head" .}}
    <body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper loadingOverLay">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    {{template "template/topbar" .}}
    <section>
        {{template "template/leftsidebar" .}}
        {{template "template/rightsidebar"}}
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>

                </h2>
            </div>

            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Keyword 1
                            </h2>

                        </div>
                        <div class="body">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="keyword-select-1" class="form-control">
                                        <option value="">Pilih Band / Performer</option>
                                        {{- range $i,$v := .dataBand}}
                                            <option value="{{$v.id}}">{{$v.nama}}</option>
                                        {{- end}}
                                    </select>
                                </div>
                                    <input type="hidden"  id="keyword-1" class="form-control" value="{{.sentimenId1}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Keyword 2
                            </h2>

                        </div>
                        <div class="body">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="keyword-select-2" class="form-control">
                                        <option value="">Pilih Band / Performer</option>
                                        {{- range $i,$v := .dataBand}}
                                            <option value="{{$v.id}}">{{$v.nama}}</option>
                                        {{- end}}
                                    </select>
                                </div>
                                    <input type="hidden"  id="keyword-2" class="form-control" value="{{.sentimenId2}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                    <button id="search" type="button" class="btn btn-primary btn-lg  waves-effect">Search</button>
                </div>
            </div>
            <!-- #END# Basic Examples -->

            <!-- Basic Examples -->
            <div class="row clearfix web-search">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                WEB SEARCH
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#tambahBandModal" class="btn-tambah">Tambah Peformance</a></li>
                                        {{/*                                    <li><a href="javascript:void(0);">Another action</a></li>*/}}
                                        {{/*                                    <li><a href="javascript:void(0);">Something else here</a></li>*/}}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <script type="text/javascript"
                                    src="https://ssl.gstatic.com/trends_nrtr/1982_RC01/embed_loader.js"></script>
                            <div class = "google-trends">

                                <script type="text/javascript">trends.embed.renderExploreWidget("TIMESERIES",
                                {"comparisonItem":[
                                {"keyword":"{{.sentimen1}}","geo":"ID","time":"today 12-m"},
                                {"keyword":"{{.sentimen2}}","geo":"ID","time":"today 12-m"}
                                ],
                                "category":0,"property":""},
                                {"exploreQuery":"geo=ID&q=wah%20wah%20event,Fourtwenty&date=today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->

            <!-- Basic Examples -->
            <div class="row clearfix youtube-search">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                YOUTUBE SEARCH
                            </h2>

                        </div>
                        <div class="body">
                            <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1982_RC01/embed_loader.js">
                            </script> <script type="text/javascript">
                                trends.embed.renderExploreWidget("TIMESERIES",
                                    {"comparisonItem":[
                                            {"keyword":"{{.sentimen1}}","geo":"ID","time":"today 12-m"},
                                            {"keyword":"{{.sentimen2}}","geo":"ID","time":"today 12-m"}
                                        ],
                                        "category":0,"property":"youtube"},
                                    {"exploreQuery":"geo=ID&gprop=youtube&q=wah%20wah%20event,Fourtwenty&date=today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->

            <!-- Basic Examples -->
            <div class="row clearfix youtube-search">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Sentiment Analysis
                            </h2>

                        </div>
                        <div class="body">
                            <p>Sentiment analysis merupakan salah satu bidang dari Natural Languange Processing (NLP) yang membangun sistem untuk mengenali dan mengekstraksi opini dalam bentuk teks.</p>
                            <p> Fine-Grained Sentiment Analysis
                                Analisis sentimen yang satu ini merupakan salah satu jenis yang paling umum. Fokusnya ada pada tingkat polaritas pendapat.

                                Tipe analisis sentimen ini akan mengelompokkan respon atau pendapat ke dalam beberapa kategori seperti positif dan negatif. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->

            <!-- Exportable Table -->
            <div class="row clearfix sentimen-1">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>
                                {{.sentimen1}}
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="donut_chart-1" class="dashboard-donut-chart"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>
                                {{.sentimen2}}
                            </h2>
                        </div>
                        <div class="body">
                            <div id="donut_chart-2" class="dashboard-donut-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>

    <div class="modal fade" id="tambahBandModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <form id="frmAddBand"  method="POST">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title title-modal" id="defaultModalLabel" >Form Tambah Band</h4>
                    </div>
                    <div class="modal-body">
                        {{template "band/add"}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-link waves-effect">SAVE CHANGES</button>
                        <button type="button" class="btn btn-link waves-effect btn-delete">DELETE</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    {{template "template/footer" .}}
{{end}}