{{define "notif/add"}}
    <div class="card">
        <div class="body">
            <div class="row clearfix">
                <input type="hidden" class="form-control"  name="id" id="id"/>

                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="card-inside-title">Judul</label>
                            <input type="text" class="form-control"  name="title" id="nama" required/>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <label class="card-inside-title">Deskripsi</label>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <textarea rows="4" class="form-control no-resize" name="text" placeholder="Deskripsi Event" id="deskripsi"> </textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{end}}