{{define "review-event/index"}}
    {{template "template/head" .}}
    <body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper loadingOverLay">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    {{template "template/topbar" .}}
    <section>
        {{template "template/leftsidebar"}}
        {{template "template/rightsidebar"}}
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    {{.event.nama}}
                </h2>
                <input type="hidden" class=" form-control " id="id_event" name="id_event"  value="{{.event.id}}"  required>
            </div>

{{/*            <!-- Basic Examples -->*/}}
{{/*            <div class="row clearfix">*/}}
{{/*                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">*/}}
{{/*                    <div class="card">*/}}
{{/*                        <div class="header">*/}}
{{/*                            <h2>*/}}
{{/*                                Saldo*/}}
{{/*                            </h2>*/}}

{{/*                        </div>*/}}
{{/*                        <div class="body">*/}}
{{/*                            <h1>*/}}
{{/*                               Rp {{.saldo}}*/}}
{{/*                            </h1>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}

{{/*                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">*/}}
{{/*                    <div class="card">*/}}
{{/*                        <div class="header">*/}}
{{/*                            <h2>*/}}
{{/*                                Pemasukan*/}}
{{/*                            </h2>*/}}

{{/*                        </div>*/}}
{{/*                        <div class="body">*/}}
{{/*                            <h1>*/}}
{{/*                                Rp {{.debit}}*/}}
{{/*                            </h1>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">*/}}
{{/*                    <div class="card">*/}}
{{/*                        <div class="header">*/}}
{{/*                            <h2>*/}}
{{/*                                Pengeluaran*/}}
{{/*                            </h2>*/}}

{{/*                        </div>*/}}
{{/*                        <div class="body">*/}}
{{/*                            <h1>*/}}
{{/*                                Rp {{.kredit}}*/}}
{{/*                            </h1>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*            <!-- #END# Basic Examples -->*/}}



{{/*            <!-- Basic Examples -->*/}}
{{/*            <div class="row clearfix">*/}}
{{/*                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">*/}}
{{/*                    <div class="card">*/}}
{{/*                        <div class="header">*/}}
{{/*                            <h2>*/}}
{{/*                                Debit (Pemasukan)*/}}
{{/*                            </h2>*/}}
{{/*                        </div>*/}}
{{/*                        <div class="body">*/}}
{{/*                            <form class="form-horizontal" id="formAdd-debit">*/}}

{{/*                                <div class="form-group">*/}}
{{/*                                    <label for="venue" class="col-sm-2 control-label">Kategori </label>*/}}
{{/*                                    <div class="col-sm-8">*/}}
{{/*                                        <div class="form-line">*/}}
{{/*                                            <select class="form-control show-tick" id="kategori_tiket_debit" name="id_kategori" required >*/}}
{{/*                                                <option value="">-- Please select Kategori --</option>*/}}
{{/*                                                {{- range $i,$v := .kategori_debit}}*/}}
{{/*                                                    <option  value="{{$v.id}}">{{$v.nama}}</option>*/}}
{{/*                                                {{- end}}*/}}
{{/*                                            </select>*/}}
{{/*                                        </div>*/}}
{{/*                                    </div>*/}}

{{/*                                    <div class="col-sm-2">*/}}
{{/*                                        <button type="button" class="btn btn-info btn-circle-lg waves-effect waves-circle waves-float"*/}}
{{/*                                                id="tambah_kategori" data-toggle="modal" data-target="#TambahKategori-debit">*/}}
{{/*                                            <i class="material-icons">add</i>*/}}
{{/*                                        </button>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}
{{/*                                <div class="form-group">*/}}
{{/*                                    <label for="Qty" class="col-sm-2 control-label">Jumlah</label>*/}}
{{/*                                    <div class="col-sm-10">*/}}
{{/*                                        <div class="form-line">*/}}
{{/*                                            <input type="text" class=" form-control " id="jumlah-debit" name="jumlah" placeholder="jumlah" value=""  required>*/}}
{{/*                                        </div>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}
{{/*                                <div class="form-group">*/}}
{{/*                                    <label for="ket" class="col-sm-2 control-label">Ket</label>*/}}
{{/*                                    <div class="col-sm-10">*/}}
{{/*                                        <div class="form-line">*/}}
{{/*                                            <input type="text" class=" form-control " id="ket-debit" name="keterangan" placeholder="Keterangan" value=""  required>*/}}
{{/*                                        </div>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}
{{/*                                <hr>*/}}
{{/*                                <div class="form-group">*/}}
{{/*                                    <div class="col-sm-offset-2 col-sm-10">*/}}
{{/*                                        <button type="submit" class="btn btn-danger" id="tmbh-debit">Tambah</button>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}
{{/*                            </form>*/}}


{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}

{{/*                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">*/}}
{{/*                    <div class="card">*/}}
{{/*                        <div class="header">*/}}
{{/*                            <h2>*/}}
{{/*                                Kredit (Pengeluaran)*/}}
{{/*                            </h2>*/}}

{{/*                        </div>*/}}
{{/*                        <div class="body">*/}}
{{/*                            <form class="form-horizontal" id="formAdd-kredit">*/}}

{{/*                                <div class="form-group">*/}}
{{/*                                    <label for="venue" class="col-sm-2 control-label">Kategori </label>*/}}
{{/*                                    <div class="col-sm-8">*/}}
{{/*                                        <div class="form-line">*/}}
{{/*                                            <select class="form-control show-tick" id="kategori_tiket_kredit" name="id_kategori" required >*/}}
{{/*                                                <option value="">-- Please select Kategori --</option>*/}}
{{/*                                                {{- range $i,$v := .kategori_kredit}}*/}}
{{/*                                                    <option  value="{{$v.id}}">{{$v.nama}} </option>*/}}
{{/*                                                {{- end}}*/}}
{{/*                                            </select>*/}}
{{/*                                        </div>*/}}
{{/*                                    </div>*/}}

{{/*                                    <div class="col-sm-2">*/}}
{{/*                                        <button type="button" class="btn btn-info btn-circle-lg waves-effect waves-circle waves-float"*/}}
{{/*                                                id="tambah_kategori" data-toggle="modal" data-target="#TambahKategori_kredit">*/}}
{{/*                                            <i class="material-icons">add</i>*/}}
{{/*                                        </button>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}
{{/*                                <div class="form-group">*/}}
{{/*                                    <label for="Qty" class="col-sm-2 control-label">Jumlah</label>*/}}
{{/*                                    <div class="col-sm-10">*/}}
{{/*                                        <div class="form-line">*/}}
{{/*                                            <input type="text" class=" form-control " id="jumlah-kredit" name="jumlah" placeholder="jumlah" value=""  required>*/}}
{{/*                                        </div>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}
{{/*                                <div class="form-group">*/}}
{{/*                                    <label for="ket" class="col-sm-2 control-label">Ket</label>*/}}
{{/*                                    <div class="col-sm-10">*/}}
{{/*                                        <div class="form-line">*/}}
{{/*                                            <input type="text" class=" form-control " id="ket-kredit" name="keterangan" placeholder="Keterangan" value=""  required>*/}}
{{/*                                        </div>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}

{{/*                                <hr>*/}}
{{/*                                <div class="form-group">*/}}
{{/*                                    <div class="col-sm-offset-2 col-sm-10">*/}}
{{/*                                        <button type="submit" class="btn btn-danger" id="tmbh-kredit">Tambah</button>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}
{{/*                            </form>*/}}

{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*            <!-- #END# Basic Examples -->  <!-- Basic Examples -->*/}}
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Review Event
                            </h2>

                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable"
                                       id="table-review">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nama</th>
                                        <th>Rating</th>
                                        <th>Review</th>

                                    </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->

        </div>
    </section>


    <div class="modal fade" id="TambahKategori-debit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <form id="frmAddKategori-debit"  method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title title-modal" id="defaultModalLabel" >Tambah Kategori Debit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">

                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <label class="card-inside-title">Nama Kategori</label>
                                                <input type="text" class="form-control"  name="nama_kategori" id="nama_kategori-debit" required/>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Tambah kategori">Add</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="TambahKategori_kredit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <form id="frmAddKategori-kredit"  method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title title-modal" id="defaultModalLabel" >Tambah Kategori Kredit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">

                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <label class="card-inside-title">Nama Kategori</label>
                                                <input type="text" class="form-control"  name="nama_kategori" id="nama_kategori_kredit" required/>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Tambah kategori">Add</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    {{template "template/footer" .}}
{{end}}