{{define "admin/add"}}
    <div class="card">
        <div class="body">
            <div class="row clearfix">
                <input type="hidden" class="form-control"  name="id" id="id"/>

                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="card-inside-title">Nama</label>
                            <input type="text" class="form-control"  name="nama" id="nama" required/>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12">

                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="card-inside-title">Username</label>
                            <input type="text" class="form-control"  name="username" id="username" />

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="card-inside-title">Email</label>
                            <input type="text" class="form-control"  name="email" id="email" />

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="card-inside-title">Password</label>
                            <input type="password" class="form-control"  name="password" id="password" />

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{{end}}