{{define "event/setting"}}

{{template "template/head" .}}


<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
{{template "template/topbar" .}}
<section>
    {{template "template/leftsidebar"}}
    {{template "template/rightsidebar"}}
</section>
<section class="content">
    <div class="container-fluid">
        <div class="block-header right">
            <div class="demo-switch-title">Refundable</div>
            <div class="switch">
                <label><input id="status_refundable" type="checkbox" {{.refundable}}><span class="lever switch-col-red"></span></label>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            {{.event.nama}}
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Publish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row justify-content-md-center">
                            <div class="col-md-3 text-center">
                                <button type="button" class="btn bg-red btn-circle-lg waves-effect waves-circle waves-float">
                                    <i class="material-icons">flight_takeoff</i>
                                </button>
                                <br>
                                    <label>Planning</label>
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" class="btn bg-yellow btn-circle-lg waves-effect waves-circle waves-float">
                                    <i class="material-icons">receipt</i>
                                </button>
                                <br>
                                <label>Pre-Day</label>
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" class="btn bg-green btn-circle-lg waves-effect waves-circle waves-float">
                                    <i class="material-icons">slideshow</i>
                                </button>
                                <br>
                                <label>Day</label>
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" class="btn bg-blue btn-circle-lg waves-effect waves-circle waves-float">
                                    <i class="material-icons">done_all</i>
                                </button>
                                <br>
                                <label>Review</label>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.progress}}%;">
                                        <span class="sr-only">{{.progress}}% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#basic_information" aria-controls="Basic Informasi" role="tab" data-toggle="tab">Basic Informasi</a></li>
                                <li role="presentation"><a href="#band_event" class="band_event" aria-controls="settings" role="tab" data-toggle="tab">Performer</a></li>
                                <li role="presentation"><a href="#tiket_setting" class="tiket_setting" aria-controls="settings" role="tab" data-toggle="tab">Tiket</a></li>
                                <li role="presentation"><a href="/catatan-keuangan/{{.event.id}}" aria-controls="settings" >Keuangan</a></li>
                                <li role="presentation"><a href="/review/{{.event.id}}" aria-controls="settings" >Review</a></li>
                                <li role="presentation"><a href="/laporan-event/{{.event.id}}" aria-controls="settings" >Dashboard Event</a></li>
                                <li role="presentation"><a href="#home" aria-controls="settings" role="tab" data-toggle="tab">Home</a></li>
                            </ul>

                            <div class="tab-content">
                                <input type="hidden" class=" form-control " id="id_event" name="id_event"  value="{{.event.id}}"  required>

                                <div role="tabpanel" class="tab-pane fade in " id="tiket_setting">
                                    <form class="form-horizontal" id="formTiketAdd">

                                        <div class="form-group">
                                            <label for="venue" class="col-sm-2 control-label">Kategori Tiket</label>
                                            <div class="col-sm-8">
                                                <div class="form-line">
                                                    <select class="form-control show-tick" id="kategori_tiket" name="id_kategori" >
                                                        <option value="0">-- Please select Kategori --</option>
                                                        {{- range $i,$v := .kategori_tiket}}
                                                            <option  value="{{$v.id}}">{{$v.nama}} - {{$v.harga}}</option>
                                                        {{- end}}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-info btn-circle-lg waves-effect waves-circle waves-float"
                                                        id="tambah_kategori">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Qty" class="col-sm-2 control-label">Qty</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class=" form-control " id="qty" name="qty" placeholder="qty" value=""  required>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Tambah Tiket</button>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                </div>


                                <div role="tabpanel" class="tab-pane fade in active " id="basic_information">
                                    <form class="form-horizontal" id="formBasicInformation">
                                        <div class="form-group">
                                            <label for="namaEvent" class="col-sm-2 control-label">Nama</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class=" form-control " id="nama" name="nama" placeholder="Nama Event" value="{{.event.nama}}"  required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="waktuMulai" class="col-sm-2 control-label">Waktu Dimulai</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class="datetimepicker form-control " id="waktuMulai" name="wkt_mulai" placeholder="Waktu Dimulai" value="{{.event.waktu_mulai}}"  required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="waktuSelesai" class="col-sm-2 control-label">Waktu Selesai</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class="datetimepicker form-control " id="waktuSelesai" name="wkt_akhir" placeholder="Waktu Selesai" value="{{.event.waktu_berakhir}}" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="venue" class="col-sm-2 control-label">Venue</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="hidden" class=" form-control " id="tmpVenue" name="tmpVenue" placeholder="Nama Event" value="{{.event.id_tempat}}"  required>
                                                    <select class="form-control show-tick" id="id_tempat" name="id_tempat" >
                                                        <option value="0">-- Please select Venue --</option>
                                                        {{- range $i,$v := .venue}}
                                                            <option  value="{{$v.id}}">{{$v.nama_tempat}}</option>
                                                        {{- end}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="deskripsi" class="col-sm-2 control-label">Deskripsi</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <textarea rows="4" class="form-control no-resize"  name="deskripsi" id="deskripsi" placeholder="Deskripsi">{{ .event.deskripsi}}</textarea>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">SUBMIT</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
{{/*                               add performer*/}}
                                <div role="tabpanel" class="tab-pane fade in " id="band_event">
                                    <form class="form-horizontal" id="formPerformer">

                                        <div class="form-group">
                                            <label for="venue" class="col-sm-2 control-label">Tambah Performer</label>
                                            <div class="col-sm-8">
                                                <div class="form-line">
                                                    <select class="form-control show-tick" id="id_band" name="id_band" >
                                                        <option value="0">-- Please select Performer --</option>
                                                        {{- range $i,$v := .band}}
                                                            <option  value="{{$v.id}}">{{$v.nama}}</option>
                                                        {{- end}}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-info btn-circle-lg waves-effect waves-circle waves-float"
                                                        id="tambah-band">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Set Performer</button>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                </div>

                                <div role="tabpanel" class="tab-pane fade in " id="home">
                                    <div class="panel panel-default panel-post">
                                        <div class="panel-heading">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img src="/asset/images/user-lg.jpg" />
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">Marc K. Hammond</a>
                                                    </h4>
                                                    Shared publicly - 26 Oct 2018
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="post">
                                                <div class="post-heading">
                                                    <p>I am a very simple wall post. I am good at containing <a href="#">#small</a> bits of <a href="#">#information</a>. I require little more information to use effectively.</p>
                                                </div>
                                                <div class="post-content">
                                                    <img src="/asset/images/profile-post-image.jpg" class="img-responsive" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">thumb_up</i>
                                                        <span>12 Likes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">comment</i>
                                                        <span>5 Comments</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">share</i>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" placeholder="Type a comment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default panel-post">
                                        <div class="panel-heading">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img src="/asset/images/user-lg.jpg" />
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">Marc K. Hammond</a>
                                                    </h4>
                                                    Shared publicly - 01 Oct 2018
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="post">
                                                <div class="post-heading">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <div class="post-content">
                                                    <iframe width="100%" height="360" src="https://www.youtube.com/embed/10r9ozshGVE" frameborder="0" allowfullscreen=""></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">thumb_up</i>
                                                        <span>125 Likes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">comment</i>
                                                        <span>8 Comments</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">share</i>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" placeholder="Type a comment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            PERFORMER
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#tambahEventModal" class="btn-tambah">Tambah Event</a></li>
                                    {{/*                                    <li><a href="javascript:void(0);">Another action</a></li>*/}}
                                    {{/*                                    <li><a href="javascript:void(0);">Something else here</a></li>*/}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover  dataTable"
                                   id="table-event-performer">
                                <thead>
                                <tr>
                                    <th>Id Band</th>
                                    <th>Nama Bandt</th>
                                    <th>Rundown</th>
                                    <th>Aksi</th>
                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            TIKET KATEGORI
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#tambahEventModal" class="btn-tambah">Tambah Event</a></li>
                                    {{/*                                    <li><a href="javascript:void(0);">Another action</a></li>*/}}
                                    {{/*                                    <li><a href="javascript:void(0);">Something else here</a></li>*/}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover  dataTable"
                                   id="table-tiket-kategori">
                                <thead>
                                <tr>
                                    <th>ID Kategori</th>
                                    <th>Kategori Tiket</th>
                                    <th>Harga</th>
                                    <th>Sisa</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            TIKET TERJUAL
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#tambahEventModal" class="btn-tambah">Tambah Event</a></li>
                                    {{/*                                    <li><a href="javascript:void(0);">Another action</a></li>*/}}
                                    {{/*                                    <li><a href="javascript:void(0);">Something else here</a></li>*/}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover  dataTable"
                                   id="table-tiket">
                                <thead>
                                <tr>
                                    <th>ID Tiket</th>
                                    <th>Kategori Tiket</th>
                                    <th>Harga</th>
                                    <th>Pemilik</th>
                                    <th>Status</th>
                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 m-t--10">


                <div class="card">
                    <div class="row justify-content-md-center">
                        <div class="head">

                        </div>
                        <div class="body">
                            <div class="col-md-6">
                            <button type="submit" class="btn btn-danger waves-effect next-step" data-id="6" data-toggle="tooltip"  title="Finish"
                                    style="width: 100%">Cancel/Unpublish</button>
                            </div>

                            {{if eq .progress  25}}
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary waves-effect next-step" data-id="2"  id="next-event" data-toggle="tooltip"  title="Finish"
                                        style="width: 100%">Next (Pre Day)</button>
                            </div>
                            {{end}}

                            {{if eq .progress  50}}
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary waves-effect next-step" data-id="3"  id="next-event" data-toggle="tooltip"  title="Finish"
                                            style="width: 100%">Next (Day)</button>
                                </div>
                            {{end}}

                            {{if eq .progress  75}}
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary waves-effect next-step" data-id="4"  id="next-event" data-toggle="tooltip"  title="Finish"
                                            style="width: 100%">Next (Review)</button>
                                </div>
                            {{end}}

                            {{if eq .progress  90}}
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary waves-effect next-step" data-id="5"  id="next-event" data-toggle="tooltip"  title="Finish"
                                            style="width: 100%">Next (Done)</button>
                                </div>
                            {{end}}


                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
    </div>
</section>

<div class="modal fade" id="tambahKategoriTiketModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form id="frmAddKategoriTiket"  method="POST">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title-modal" id="defaultModalLabel" >Tambah Kategori Tiket</h4>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">

                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="card-inside-title">Nama Kategori</label>
                                            <input type="text" class="form-control"  name="nama_kategori" id="nama_kategori" required/>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <label class="card-inside-title">Harga</label>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control"  name="harga" id="harga" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Tambah kategori">Add</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="Modaledit_rundown" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form id="frmEditRundown"  method="POST">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title-modal" id="defaultModalLabel" >Edit Rundown</h4>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">

                                            <input type="hidden" class="form-control"  name="id_event_band" id="id_event_band" required/>


                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label class="card-inside-title">Waktu Dimulai</label>
                                            <input type="text" class="datetimepicker form-control " id="waktuMulai" name="wkt_mulai" placeholder="Waktu Dimulai" value="{{.event.waktu_mulai}}"  required>

                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Tambah kategori">Add</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </form>
    </div>
</div>

{{template "template/footer" .}}

{{end}}