﻿{{define "event/index"}}
    {{template "template/head" .}}
<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper loadingOverLay">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
{{template "template/topbar" .}}
<section>
    {{template "template/leftsidebar"}}
    {{template "template/rightsidebar"}}
</section>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>

            </h2>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DATA EVENT
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#tambahEventModal" class="btn-tambah">Tambah Event</a></li>
{{/*                                    <li><a href="javascript:void(0);">Another action</a></li>*/}}
{{/*                                    <li><a href="javascript:void(0);">Something else here</a></li>*/}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable"
                                   id="table-event">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nama Event</th>
                                    <th>Deskripsit</th>
                                    <th>Status</th>
                                    <th>Publish</th>
                                    <th>Aksi</th>

                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
      
    </div>
</section>

<div class="modal fade" id="tambahEventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form id="frmAddEvent"  method="POST">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title title-modal" id="defaultModalLabel" >Form Tambah Band</h4>
            </div>
            <div class="modal-body">
               {{template "event/add"}}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect btn-delete">DELETE</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
        </form>
    </div>
</div>


{{template "template/footer" .}}
{{end}}