{{define "template/footer"}}

<!-- Jquery Core Js -->
<script src="/asset/plugins/jquery/jquery.min.js"></script>

{{/*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js*/}}
{{/*"></script>*/}}
<!-- Bootstrap Core Js -->
<script src="/asset/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="/asset/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="/asset/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="/asset/plugins/node-waves/waves.js"></script>

<!-- Bootstrap Notify Plugin Js -->
<script src="/asset/plugins/bootstrap-notify/bootstrap-notify.js"></script>

<script src="/asset/js/pages/ui/notifications.js"></script>

{{- range $i, $v := .js }}
    <script src="{{$v}}.js" ></script>
{{- end }}

<!-- Custom Js -->
<script src="/asset/js/admin.js"></script>

<!-- Demo Js -->
<script src="/asset/js/demo.js"></script>
</body>

</html>
{{end}}