{{define "laporan-event/index"}}

    {{template "template/head" .}}

    <body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    {{/*<div class="search-bar">*/}}
    {{/*    <div class="search-icon">*/}}
    {{/*        <i class="material-icons">search</i>*/}}
    {{/*    </div>*/}}
    {{/*    <input type="text" placeholder="START TYPING...">*/}}
    {{/*    <div class="close-search">*/}}
    {{/*        <i class="material-icons">close</i>*/}}
    {{/*    </div>*/}}
    {{/*</div>*/}}
    <!-- #END# Search Bar -->
    {{template "template/topbar" .}}
    <section>
        {{template "template/leftsidebar"}}
        {{template "template/rightsidebar"}}
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>
            <input type="hidden" value="{{.id_event}}" id="id_event">
            <!-- Widgets -->
            <div class="row clearfix">


                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">JML CHECKIN</div>
                            <div class="number count-to" data-from="0" data-to="{{.jmlTiketCheckin}}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">TIKET TERJUAL</div>
                            <div class="number count-to" data-from="0" data-to="{{.jmlTiketTerjual}}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">TIKET SISA</div>
                            <div class="number count-to" data-from="0" data-to="{{.jmlTiketSisa}}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">Jumlah Review</div>
                            <div class="number count-to" data-from="0" data-to="{{.review}}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>\

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-yellow hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">insert_emoticon</i>
                        </div>
                        <div class="content">
                            <div class="text">RATING</div>
                            <div class="number count-to" data-from="0" data-to="{{.rating}}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- #END# Widgets -->

            <div class="row clearfix">
                <!-- Visitors -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-pink">

                            <div class="m-b--35 font-bold">KEUANGAN</div>

                            <ul class="dashboard-stat-list">
                                {{- range $i,$v := .listDebit}}
                                    <li>
                                        {{$v.nama}}
                                        <span class="pull-right"><b>Rp {{$v.jml}}</b></span>
                                    </li>
                                {{- end}}

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #END# Visitors -->
                <!-- Latest Social Trends -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-cyan">
                            <div class="m-b--35 font-bold">LIST RATING</div>
                            <ul class="dashboard-stat-list">

                                {{- range $i,$v := .listRating}}
                                    <li>
                                        {{$v.rating}}
                                        <span class="pull-right"><b>{{$v.jml}}</b></span>
                                    </li>
                                {{- end}}

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #END# Latest Social Trends -->
                <!-- Answered Tickets -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="sparkline" data-type="line" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                                 data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                                 data-offset="90" data-width="100%" data-height="92px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                                 data-fill-Color="rgba(0, 188, 212, 0)">
                                0,{{.listpenjualanChart}}
                            </div>
                            <div class="font-bold m-b--35">TIKET TERJUAL</div>
                            <ul class="dashboard-stat-list">
                                {{- range $i,$v := .listPenjualan_tiket}}
                                    <li>
                                        {{$v.nama}}
                                        <span class="pull-right"><b>{{$v.jml}}</b></span>
                                    </li>
                                {{- end}}

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #END# Answered Tickets -->
            </div>
            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>EXPORT DATA</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Task</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Data Order</td>
                                        <td>
                                            <button title='Export Order Excel ' class='btn btn-success btn-circle waves-effect waves-circle waves-float'
                                                    id="export-order">
                                                <i class="material-icons">cloud_download</i>
                                            </button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Data Tiket</td>
                                        <td>
                                            <button title='Export Order Excel ' class='btn btn-success btn-circle waves-effect waves-circle waves-float'
                                            id="export-tiket">
                                                <i class="material-icons">cloud_download</i>
                                            </button>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td>Data Keuangan</td>
                                        <td>
                                            <button title='Export Order Excel ' class='btn btn-success btn-circle waves-effect waves-circle waves-float '
                                            id="export-catatan_keuangan">
                                                <i class="material-icons">cloud_download</i>
                                            </button>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Task Info -->
{{/*                <!-- Browser Usage -->*/}}
{{/*                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">*/}}
{{/*                    <div class="card">*/}}
{{/*                        <div class="header">*/}}
{{/*                            <h2>BROWSER USAGE</h2>*/}}
{{/*                            <ul class="header-dropdown m-r--5">*/}}
{{/*                                <li class="dropdown">*/}}
{{/*                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">*/}}
{{/*                                        <i class="material-icons">more_vert</i>*/}}
{{/*                                    </a>*/}}
{{/*                                    <ul class="dropdown-menu pull-right">*/}}
{{/*                                        <li><a href="javascript:void(0);">Action</a></li>*/}}
{{/*                                        <li><a href="javascript:void(0);">Another action</a></li>*/}}
{{/*                                        <li><a href="javascript:void(0);">Something else here</a></li>*/}}
{{/*                                    </ul>*/}}
{{/*                                </li>*/}}
{{/*                            </ul>*/}}
{{/*                        </div>*/}}
{{/*                        <div class="body">*/}}
{{/*                            <div id="donut_chart" class="dashboard-donut-chart"></div>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <!-- #END# Browser Usage -->*/}}
            </div>

        </div>
    </section>

    {{template "template/footer" .}}
    <script src="/asset/js/pages/index.js"></script>

{{end}}