{{define "dashboard/index"}}

    {{template "template/head" .}}

<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
{{/*<div class="search-bar">*/}}
{{/*    <div class="search-icon">*/}}
{{/*        <i class="material-icons">search</i>*/}}
{{/*    </div>*/}}
{{/*    <input type="text" placeholder="START TYPING...">*/}}
{{/*    <div class="close-search">*/}}
{{/*        <i class="material-icons">close</i>*/}}
{{/*    </div>*/}}
{{/*</div>*/}}
<!-- #END# Search Bar -->
{{template "template/topbar" .}}
<section>
    {{template "template/leftsidebar"}}
   {{template "template/rightsidebar"}}
</section>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>DASHBOARD</h2>
        </div>

        <div class="row clearfix">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>TASK INFOS</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nama</th>
                                    <th>Status</th>
                                    <th>Progress</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{- range $i,$v := .data}}
                                    <tr>
                                        <td>{{$v.id}}</td>
                                        <td><a href="event/{{$v.id}}">{{$v.nama}}</a></td>
                                        <td><span class="label bg-{{$v.color}}">{{$v.status}}</span></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-{{$v.color}}" role="progressbar" aria-valuenow="{{$v.pb}}" aria-valuemin="0" aria-valuemax="100" style="width: {{$v.pb}}%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                {{- end}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Task Info -->

        </div>



    </div>
</section>

{{template "template/footer" .}}
<script src="/asset/js/pages/index.js"></script>

{{end}}