{{define "band/add"}}
    <div class="card">
    <div class="body">
        <div class="row clearfix">
            <input type="hidden" class="form-control"  name="id" id="id"/>

            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="card-inside-title">Nama Band</label>
                        <input type="text" class="form-control"  name="nama" id="nama" required/>

                    </div>
                </div>
            </div>
            <div class="col-sm-12">

                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="card-inside-title">Facebook</label>
                        <input type="text" class="form-control"  name="facebook" id="facebook" />

                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="card-inside-title">Twitter</label>
                        <input type="text" class="form-control"  name="twitter" id="twitter" />

                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="card-inside-title">Instagram</label>
                        <input type="text" class="form-control"  name="instagram" id="instagram" />

                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="card-inside-title">Youtube</label>
                        <input type="text" class="form-control"  name="youtube"id="youtube"  />

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="card-inside-title">Deskripsi</label>
                <div class="form-group form-float">
                    <div class="form-line">
                        <textarea rows="4" class="form-control no-resize" name="deskripsi" placeholder="Deskripsi Band" id="deskripsi"> </textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <input type="file" name="file" id="file">

            </div>
        </div>

    </div>
    </div>
{{end}}